.post {
  width: 554px;
  height: 594px;
  background-color: #0d0d0d;
  border-radius: 10px;
  color: aliceblue;
  padding: 15px;
}
.post_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttons_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 270px;
}
.post_button {
  width: 290px;
  height: 57px;
  background-color: #0d0d0d;
  border: none;
  border-radius: 10px;
  margin-right: 90px;
  color: white;
  font-size: 20px;
  text-align: start;
  padding-left: 30px;
  margin-bottom: 15px;
}
h1 {
  font-size: 20px;
}
