.container {
  background-color: black;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 30px;
}
.logo {
  height: 50px;
  margin-right: 20px;
  margin-left: 20px;
}
.logoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logoName {
  color: white;
  font-size: 20px;
  font-family: Public Sans;
  font-weight: 700;
}
